[Unit]
Description = Daemon puccia-perfetta
After = network.target

[Service]
Type = simple
WorkingDirectory = <abs_path_puccia-perfetta>/
ExecStart = /usr/bin/python3 <abs_path_puccia-perfetta/main.py
User = pi
Group = pi
Restart = always
SyslogIdentifier = <abs_path_puccia-perfetta/log_file.txt
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target 
